* {
    margin: 0;
    padding: 0;
    list-style: 0;
}

:root {
    --base: #6e5749;
    --spacing: 10px;
    --blur: 10px;
}

.h1 {
    color: var(--base);
}

html,
body {
    height: 100%;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff4ee;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2em;
    font-family: Geneva;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

label,
input {
    margin: 0 5px;
}

label {
    font-family: 'Courier New', Courier, monospace;
}

input {
    border: none;
    background-color: transparent;
}

img {
    margin-top: 30px;
    width: 50%;
    height: 50%;
    border-radius: 20px;
    /* 以下為使用者可調控區 */
    padding: var(--spacing);
    background-color: var(--base);
    filter: blur(var(--blur));
}